/* src/styles/app.css */

/* Reset dei margini e dei padding di default */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

/* Stile per il contenitore principale */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Stili per l'header */
.text-b {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
}
/* Stili per il barbershop-info */
.info-section {
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.info-section .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.info-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

/* Stili per la galleria */
.gallery-section {
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
  padding: 60px 0;
}

.gallery-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Aggiungi il seguente codice per lo stile del login */

.login-container {
  background-image: url("/public/images/vintage2.jpg"); /* Sostituisci con il percorso dell'immagine desiderata */
  background-size: contain;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.important-message {
  font-size: 1.1em;
  color: red;
  background-color: #fff3cd;
  border: 1px solid #ff9100;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.card-body {
  padding: 2rem;
}

.card-gray {
  background-color: rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0 1rem;
  color: #ffffff;
}

.card-text {
  font-size: 1rem;
  margin: 0 1rem;
  padding: 1rem 0;
  font-weight: bold;
  color: #ffffff;
}

.card-c {
  border: none;
  background: #e9e7e7;
  transition: transform 0.1s;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 400px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-login {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4rem;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.6);
}
.card {
  width: 300px;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.btn-primary {
  background-color: #007bff; /* Colore del bottone di login */
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3; /* Colore del bottone al passaggio del mouse */
  border-color: #0056b3;
}

.form-control {
  border-color: #ced4da; /* Colore del bordo dell'input */
}

.form-control:focus {
  border-color: #007bff; /* Colore del bordo dell'input in stato di focus */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.photo {
  flex: 1 0 auto;
  height: 350px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 2px solid rgb(187, 187, 187);
}

.box-shadow {
  box-shadow: 5px 4px 4px rgb(115, 115, 115);
}

.box-shadow:hover {
  transform: scale(1.2);
  box-shadow: 4px 8px 16px rgb(255, 255, 255);
  border: 4px solid #007bff; /* Colore del bordo illuminato */
  border-radius: 1rem;
}

.box-shadow-2:hover {
  transform: scale(1.1);
  box-shadow: 4px 8px 16px rgb(255, 255, 255);
  border: 4px solid #007bff; /* Colore del bordo illuminato */
  border-radius: 1rem;
}

.box-shadow-button {
  font-weight: bold;
}

.box-shadow-button:hover {
  transform: scale(1.2);
  border-radius: 2rem;
  font-weight: bold;
}

.shadow-button {
  font-weight: bold;
}

.shadow-button:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.container-central {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 4px 8px 16px rgb(247, 245, 245);
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.container-central:hover {
  transform: scale(1.05);
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.container-central h3 {
  font-size: 3rem;
  font-weight: bold;
}

.lead-p {
  font-size: 1.4rem;
}

.text-style {
  font-weight: bold;
  font-size: 3rem;
}

.homepage {
  background-color: rgb(3, 3, 3);
}

/* Styles for the login form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #143342;
  flex-direction: column;
}

.login-form {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 1.5rem;
}

.login-form .form-group {
  margin-bottom: 1rem;
}

.login-form .btn {
  width: 100%;
  font-weight: bold;
}

.login-form .register-link {
  text-align: center;
  margin-top: 1rem;
}

/* Stili per il footer */
footer {
  background-color: #143342; /* Sostituisci con il colore desiderato */
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
  color: rgb(45, 155, 186);
}

.nav-very {
  background-color: #143342;
}
.nav-b {
  font-weight: bold;
  font-size: 1.2rem;
}

/* App.css */
.appointment-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.appointment-card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8); /* Colore di sfondo delle card */
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.appointment-card-body {
  display: flex;
  align-items: center;
}

.appointment-card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.appointment-card-content {
  flex: 1;
}

.appointment-card-title {
  color: #343a40; /* Colore del testo del titolo */
  font-size: 1.2em;
  margin-bottom: 10px;
}

.appointment-card-text {
  color: #6c757d; /* Colore del testo */
}

.card-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  justify-content: space-between;
  margin-top: 20px;
}

.card-actions button {
  padding: 8px 16px;
  border: none;
  transition: background-color 0.3s ease;
}

.card-actions button:hover {
  background-color: #007bff;
  color: #fff;
}

.card-actions button.delete-btn {
  background-color: #dc3545;
}

.card-actions button.edit-btn {
  background-color: #ffc107;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .appointment-card {
    width: 100%; /* Una card per riga su schermi più piccoli */
    max-width: calc(
      100% - 30px
    ); /* Massimizza l'uso dello spazio disponibile */
    margin-bottom: 20px; /* Spazio tra le card su schermi piccoli */
  }

  .appointment-card-body {
    flex-direction: column; /* Layout a colonna su schermi piccoli */
    align-items: center; /* Allinea al centro su schermi piccoli */
    text-align: center; /* Allinea il testo al centro su schermi piccoli */
  }

  .appointment-card-img {
    margin-right: 0; /* Rimuovi il margine destro sull'immagine su schermi piccoli */
    margin-bottom: 10px; /* Spazio tra l'immagine e il contenuto su schermi piccoli */
  }

  .card-actions {
    display: inline-block;
  }

  .card-actions button {
    margin: 0 5px; /* Aggiungi margine tra i bottoni per separarli */
  }
}
